<template>
  <div id="app" class="container h-full w-full bg-blue-200">
    <div v-if="apiFailure">API FAILURE.</div>
    <template v-else>
      <div class="flex justify-around pt-4 -mb-1">
        <div v-if="mode === 'from'" @click="toggleMode" class="bg-blue-400 px-2 py-1 rounded">
          From Home
          <i class="fa fa-fw fa-arrow-right"></i>
        </div>
        <div v-else @click="toggleMode" class="bg-blue-400 px-2 py-1 rounded">
          <i class="fa fa-fw fa-arrow-right"></i>
          To Home
        </div>
      </div>

      <div class="flex flex-col px-4">
        <div
          v-if="showFirst"
          class="flex-1 bg-green-500 text-center py-2 w-full mt-4 rounded shadow"
        >
          <div class="text-gray-700 text-sm">{{ firstMins }} min</div>
        </div>
        <div class="flex-1 bg-green-400 text-center py-4 w-full p-4 my-6 rounded shadow-xl">
          <div class="text-gray-700 text-sm">
            <i class="fa fa-fw fa-bus pr-1"></i>
            {{ nextLine }}
          </div>
          <div class="text-4xl font-bold p-2">{{ nextMins }} min</div>
          <div class="text-gray-700 text-sm">{{ nextTime.format('HH:mm') }}</div>
        </div>

        <div
          v-for="timeObj in upcoming"
          :key="timeObj.index"
          class="flex bg-green-500 text-center py-2 w-full mb-2 rounded shadow justify-around"
        >
          <div class="text-gray-700 text-sm">
            <i class="fa fa-fw fa-bus pr-1"></i>
            {{ timeObj.line }}
          </div>
          <div class>{{ timeObj.mins }} min</div>
          <div class="text-gray-700 text-sm">{{ timeObj.time.format('HH:mm') }}</div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import * as moment from 'moment'
import { fromHomeStop, toHomeStop, fromHomeApiURL, toHomeApiURL } from './conf'

export default {
  name: 'app',
  data() {
    return {
      firstTime: moment(),
      nextTime: moment(),
      firstMins: 0,
      nextMins: 0,
      firstLine: '',
      nextLine: '',
      showFirst: false,
      upcoming: [],
      status: 1,
      mode: 'from',
    }
  },

  computed: {
    apiFailure() {
      return this.status !== 1
    },
  },

  methods: {
    toggleMode() {
      if (this.mode === 'to') {
        this.mode = 'from'
        localStorage.setItem('mode', 'from')
      } else {
        this.mode = 'to'
        localStorage.setItem('mode', 'to')
      }
      this.fetchData()
    },

    fetchData() {
      let me = this
      let apiURL = fromHomeApiURL
      this.upcoming = []

      if (this.mode === 'to') {
        apiURL = toHomeApiURL
      }

      fetch(apiURL)
        .then(function(response) {
          return response.json()
        })
        .then(function(parsed) {
          let now = moment()
          let arrivalTime = moment()
          let mins = 0
          let hours = 0
          let correctLine = false
          let upcomings = 0

          // Go into fail mode if we don't get proper data from the API.
          if (parsed.status === 'SIRI_NO_DATA') {
            me.status = -1
          }

          let servertime = moment.unix(parsed.servertime)

          parsed.result.forEach(function(obj, index) {
            arrivalTime = moment.unix(obj.aimedarrivaltime)
            mins = Math.ceil(moment.duration(arrivalTime.diff(now)).asMinutes())

            correctLine = obj.lineref === '801' || obj.lineref === '901'

            if (correctLine && index === 0) {
              me.firstLine = obj.lineref
              me.nextLine = obj.lineref
              me.firstTime = arrivalTime
              me.nextTime = arrivalTime
              me.firstMins = mins
              me.nextMins = mins
            }

            if (correctLine && index === 1 && me.firstTime < 10) {
              me.nextLine = obj.lineref
              me.nextTime = arrivalTime
              me.nextMins = mins
              me.showFirst = true
            }

            if (correctLine && index > 0 && upcomings < 5) {
              upcomings++
              me.upcoming.push({
                index: index,
                line: obj.lineref,
                time: arrivalTime,
                mins: mins,
              })
            }
          })
        })
    },
  },

  created() {
    let mode = localStorage.getItem('mode')
    if (mode === null) {
      localStorage.setItem('mode', 'from')
    } else if (mode === 'to') {
      this.mode = 'to'
    }
    this.fetchData()
  },
}
</script>
