@import '~tailwindcss/base.css';

html {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

/**
 * This injects any component classes registered by plugins.
 */
@import '~tailwindcss/components.css';

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 * @import 'components/buttons';
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@import '~tailwindcss/utilities.css';

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example:
 * @import 'utilities/background-patterns';
 */
